.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.visualyy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.features-item {
  width: calc((100% - 2 * 88) / 3);
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
  color: #fff;
}
.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
