:root {
	--black: #111;
	--orange: #fd9222;
	--violet: #1e1823;
	--beige: #fcf1e0;
	--light: #fafafa;
	--gray: #4c4c4c;
	--white: #fff;
	--marker-body: #4c4c4c;
	--marker-border: #eceded;
}

body {
    font-family: "Montserrat", sans-serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  

/* <!-- milk-chocolate --> */


.ingridients {
padding: 120px 0 60px ;
}

.ingredients-box {
    width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
}

.chapter-section {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.orange-text {
    color: var(--orange);
}

.ingridients-list {
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 gap: 32px;
 list-style: none;

}

.ingridients-component {
width: calc((100% - 32px * 3) / 4);
padding: 28px 23px;
/* background-color: var(--orange); */
border-radius: 15px;
}

.ingridients-component:nth-child(4n + 1) {
    background-color: var(--orange);
    color: var(--white);
}

.ingridients-component:nth-child(2n) {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--orange);
}

.ingridients-component:nth-child(4n + 3) {
    background-color: var(--violet);
    color: var(--white);
}

.ingridients-name {
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-transform: uppercase;
margin: 0;
margin-top: 36px;
}
.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.visualyy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.features-item {
  width: calc((100% - 2 * 88) / 3);
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
  color: #fff;
}
.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}


header {
  padding: 20px 0;
}

.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.logo-style {
  font-style: normal;
}

.nav {
  margin-left: auto;
  margin-right: 90px;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-list-item {
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
  padding: 12px 0;
  display: block;
  /* outline: 1px solid red; */
}

.list-icon {
  display: flex;
  gap: 14px;
}
.icon-item {
}
.icon-link {
}

header .container {
  display: flex;
  align-content: center;
}
